
@media (max-width: 400px) {

  .btn-group {
    width: 100% !important;
    text-align: center;
  }

  .btn-group .btn {
    width: 100% !important;
    margin-bottom: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 4px !important;
  }
}
