
.fb-post {
  width: 500px;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.fb-post iframe {
  width: 100% !important;
}

@media (max-width: 675px) {

  .fb-post {
    width: 100%;
    box-sizing: border-box;
  }
}
